@font-face {
  font-family: 'DancingScript';
  src: url('dancing-script-ot.ttf');
}

body{
   background: #02010a;
}

.contenido{
  text-align: center;
  width: 100%;
  font-family: 'DancingScript';
}

/*ENCABZADO GENERAL A 2 COLUMNAS */
header{
  width: 100%;
  height: auto;
  background-color: #5b7989;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-style: italic;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: 'DancingScript';
}

/*ENCABEZADO LADO IZQUIERDO CON EL MENU*/
.encabezado1 {
  width: 65%;
}

.encabezado1 > div{
  width: 100%;
  text-align: left;
}

h1{
  text-align: left;
  font-style: italic;
  padding-top: 10px;
  font-size: 65px;
  padding-left: 10px;
  text-shadow: 2px 2px #02010a;
}

/*ENCABEZADO LADO DERECHO CON EL MENU*/
.encabezado2 {
  width: 35%;
  padding-top: 70px;
}

.encabezado2 > div{
  width: 100%;
  text-align: center;
}

.encabezado2 > a{
  margin-left: 15px;
  color: white;
  font-size: 35px;
  font-style: italic;
  text-decoration: none;
}


@media screen and (max-width: 900px){
  .encabezado1{
    width: 100%;
    text-align: center;
  }

  .encabezado2{
    width: 100%;
    text-align: center;
  }
}
/*CONTAINER DE PRIMERA IMAGEN CENTRADA*/
#contenedor {
  display: flex;
}

#imagen1 {
  background: #82c3a6;
  text-align: center;
  padding: 10px;
}
#imagen1 > img{
  width: 90%;
  text-align: center;
  border: 2px #02010a solid;
}

/*CONTAINER DE LAS 2 SEGUNDAS IMAGENES*/
.contenedor2 {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #d5c75f;
}

.contenedor2 > div{
  width: 50%;
  text-align: center;
  padding-top: 10px;
}

#img2> img {
  width: 65%;
  text-align: center;
  border: 2px #02010a solid;
  margin-left: 20px;
}

#img3> img {
  width: 65%;
  text-align: center;
  border: 2px #02010a solid;
  margin-left: 20px;
}

/*PROPIEDADES PARA CUANDO EL CURSO SE POSICIONA SOBRE LAS IMAGENES*/
#img2 :hover{
  transform: rotate(10deg);
  -webkit-filter: drop-shadow(2px 2px 2px #82c3a6);
  filter: drop-shadow(2px 2px 2px #82c3a6);
  border: none;
}
#img3 :hover{
  transform: translate(20px, -5px);
  -webkit-filter: drop-shadow(2px 2px 2px #82c3a6);
  filter: drop-shadow(2px 2px 2px #82c3a6);
  border: none;
}

/*PIE DE PAGINA*/
.pie{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #C6d5c5;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: 'DancingScript';
  font-size: 18px;
}

.pie > div{
  width: 25%;
  text-align: center;
  padding-top: 10px;
}

.pie > div > img{
  width: 15px;
  height: 15px;
}

.pie > div > h2 {
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 900px){
  .pie>div{
    width: 100%;
    text-align: left;
    padding-left: 20px;
    }
  .pie>div>h2{
    width: 100%;
    text-align: left;
    padding-left: 20px;
    }

  .encabezado1>div{
    width: 100%;
    text-align: center;
    }

  .encabezado2>div{
    width: 100%;
    text-align: center;
    }

  .contenedor2>div{
    width: 100%;
    text-align: center;
    }

  }
